.slider {
	display: flex;
    align-items: center;
    width: auto;
	height: 1024px;
    margin-top: -120px;
	background: url("../images/bg-photo-1.jpg") no-repeat center;
	position: relative;
}

.slides {
	max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.slide h3 {
    margin-top: -7px;
	font-family: "Ralewey", sans-serif;		
	font-size: 38px;	
	font-weight: 500;
	color: #fff;
}

.slide h2 {
    font-family: "Raleway ExtraBold", sans-serif;
    font-size: 53px;
    font-weight: 700;
    color: #fff;
    margin-top: 2px;	
}

.slide p {
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #fff;
}

.slide a {
	display: inline-block;	
  	padding: 20px 40px;
 	margin-top: 48px;    
 	background-color: #998675;
 	border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
	color: #fff;
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Ralewey", sans-serif;
}

.slide a:hover {
	background-color: #837264;
	cursor: pointer;
}

.slider-actions__arr-l, .slider-actions__arr-r {
	position: absolute;
	top: 50%;
	width: 85px;
    height: 85px;
    border: none;
}

.slider-actions__arr-l:hover, .slider-actions__arr-r:hover {
	cursor: pointer;
	opacity: 0.7;
}

.slider-actions__arr-l {
	left: 6%;
	background: url("../images/arrow-left.png") no-repeat center;
}

.slider-actions__arr-r {
	right: 6%;
	background: url("../images/arrow-right.png") no-repeat center;
}

.slider-pagination {
	position: absolute;
	bottom: 30px;
	right: 50%;
	transform: translateX(50%);
	height: 25px;
	width: 100px;
	background: url("../images/pagination.png") no-repeat center;
}
